/* Set the background color to a dark gray */
body {
    background-color: #222222;
    color: white;
}

/* Set the text color for headings to a lighter grey */
h1, h2, h3, h4, h5, h6 {
    color: #bbbbbb;
}


table {
    margin: 0 auto;
}

/* Set the background color for table rows to a darker grey */
tr {
    background-color: #282828;
}

/* Set the background color for table cells to a very dark grey */
td {
    background-color: #181818;
}

/* Set the background color for buttons to a dark grey */
button {
    background-color: #333333;
    color: white;
}

/* Set the background color for links to a lightish blue/grey */
a {
    color: #66668b;
}

/* Set the background color for input fields to a dark grey */
input {
    background-color: #333333;
    color: white;
}

/* Size for brand */
nav .navbar-brand
{
    font-size: x-large;
}

/* Colors for brand */
nav .navbar-brand .pink
{
    color: #ae24aa;
    text-decoration-line: overline;
}
nav .navbar-brand .grey
{
    color: #bbbbbb;
    text-decoration-line: underline;
}

/* Navbar */
.bg-dark
{
    background-color: #222222 !important;
}

.nav-link
{
    color: #ffffff !important;
}

/* Buttons */

.btn
{
    background-color: #333333;
    color: white;
    border: #181818;
}

.btn:hover
{
    background-color: #444444;
    color: white;
}

/* input fields */
.form-control
{
    background-color: #d9d9d9;
    color: rgb(27, 27, 27);
}
div + div 
{
    margin-top: 10px;
}


